static/scheme/TerritoryToGKN_v01/TerritoryToGKN/TerritoryToGKN_v01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Simple2="urn://x-artefacts-rosreestr-ru/commons/simple-types/2.0.1" xmlns:Simple1="urn://x-artefacts-rosreestr-ru/commons/simple-types/1.0" xmlns:tns="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" xmlns:Simple4="urn://x-artefacts-rosreestr-ru/commons/simple-types/4.1.1" xmlns:Simple7="urn://x-artefacts-rosreestr-ru/commons/simple-types/7.0.1" xmlns:CadEng4="urn://x-artefacts-rosreestr-ru/commons/complex-types/cadastral-engineer/4.1.1" xmlns:Spa2="urn://x-artefacts-rosreestr-ru/commons/complex-types/entity-spatial/2.0.1" xmlns:dAl3="urn://x-artefacts-rosreestr-ru/commons/directories/all-documents/3.0.2" xmlns:DocI5="urn://x-artefacts-rosreestr-ru/commons/complex-types/document-info/5.0.1" xmlns="urn://x-artefacts-rosreestr-ru/incoming/territory-to-gkn/1.0.4" xmlns:dUn1="urn://x-artefacts-rosreestr-ru/commons/directories/unit/1.0.1" xmlns:Zon4="urn://x-artefacts-rosreestr-ru/commons/complex-types/zone/4.2.2" targetNamespace="urn://x-artefacts-rosreestr-ru/incoming/territory-to-gkn/1.0.4" elementFormDefault="qualified">
	<!--Все простые типы данных-->
	<xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/simple-types/1.0" schemaLocation="../SchemaCommon/P_CommonSimpleType_v01.xsd"/>
	<xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/simple-types/2.0.1" schemaLocation="../SchemaCommon/P_CommonSimpleType_v02.xsd"/>
	<xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/simple-types/4.1.1" schemaLocation="../SchemaCommon/P_CommonSimpleType_v04.xsd"/>
	<xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/simple-types/7.0.1" schemaLocation="../SchemaCommon/P_CommonSimpleType_v07.xsd"/>
	<xs:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" schemaLocation="../SchemaCommonSMEV/smev-supplementary-commons-1.0.1.xsd"/>
	<!--Общая подсхема "Кадастровый инженер"-->
	<xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/complex-types/cadastral-engineer/4.1.1" schemaLocation="../SchemaCommon/_CadastralEngineer_v04.xsd"/>
	<!--Повторно используемая подсхема "Документ"-->
	<xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/directories/all-documents/3.0.2" schemaLocation="../SchemaCommon/dAllDocuments_v03.xsd"/>
	<!--Повторно используемая подсхема "Документ для информационного взаимодействия"-->
	<xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/complex-types/document-info/5.0.1" schemaLocation="../SchemaCommon/_DocumentInfo_v05.xsd"/>
	<!--Описание пространственной составляющей-->
	<xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/complex-types/entity-spatial/2.0.1" schemaLocation="../SchemaCommon/_Spatial_v02.xsd"/>
	<xs:import namespace="urn://x-artefacts-rosreestr-ru/commons/directories/unit/1.0.1" schemaLocation="../SchemaCommon/dUnit_v01.xsd"/>
	<!--10.03.2016 Первая версия-->
	<xs:element name="TerritoryToGKN">
		<xs:annotation>
			<xs:documentation>Описание местоположения границ территории объекта культурного наследия, включенного в реестр, или его зон с особыми условиями использования территории, особых экономических зон</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Title">
					<xs:annotation>
						<xs:documentation>Титульный лист</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Clients">
								<xs:annotation>
									<xs:documentation>Сведения о заказчиках работ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Client" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о заказчике работ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<xs:element name="Person">
														<xs:annotation>
															<xs:documentation>Физическое лицо</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:group ref="tns:PhysicalPersonQualifiedName-ModelGroup"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Organization" type="tOrganization">
														<xs:annotation>
															<xs:documentation>Российское юридическое лицо</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Governance" type="tOrganization">
														<xs:annotation>
															<xs:documentation>Орган государственной власти, орган местного самоуправления</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:choice>
												<xs:attribute name="Date" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата подписания</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Contractor">
								<xs:annotation>
									<xs:documentation>Сведения об исполнителе работ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Person">
											<xs:annotation>
												<xs:documentation>Физическое лицо</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:group ref="tns:PhysicalPersonQualifiedName-ModelGroup"/>
													<xs:element name="INN" type="tns:PhysicalPersonINNType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Telephone" type="Simple4:sNe50" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Контактный телефон</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Address" type="Simple4:sNe4000" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Почтовый адрес</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CadastralEngineer" type="tEngineer">
											<xs:annotation>
												<xs:documentation>Кадастровый инженер</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PersonContractor">
											<xs:annotation>
												<xs:documentation>Индивидуальный предприниматель</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:group ref="tns:PhysicalPersonQualifiedName-ModelGroup"/>
													<xs:element name="INN" type="tns:PhysicalPersonINNType">
														<xs:annotation>
															<xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Telephone" type="Simple4:sNe50">
														<xs:annotation>
															<xs:documentation>Контактный телефон</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Address" type="Simple4:sNe4000">
														<xs:annotation>
															<xs:documentation>Почтовый адрес</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="OrganisationContractor">
											<xs:annotation>
												<xs:documentation>Юридическое лицо</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name">
														<xs:annotation>
															<xs:documentation>Наименование юридического лица</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="Simple7:sNameNew">
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CodeOGRN" type="tns:OGRNCompanyType">
														<xs:annotation>
															<xs:documentation>Код ОГРН</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Telephone" type="Simple4:sNe50">
														<xs:annotation>
															<xs:documentation>Контактный телефон</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Address" type="Simple4:sNe4000">
														<xs:annotation>
															<xs:documentation>Почтовый адрес</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Agent" type="tAgent">
														<xs:annotation>
															<xs:documentation>Представитель</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Coordinations" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о согласованиях описания местоположения</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Coordination" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о согласовании описания местоположения</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<xs:sequence>
														<xs:element name="Name">
															<xs:annotation>
																<xs:documentation>Наименование органа (организации)</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="Simple7:sNameNew">
																	<xs:maxLength value="500"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Official">
															<xs:annotation>
																<xs:documentation>Полномочный представитель</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:group ref="tOfficialGroup"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:element name="Document">
														<xs:annotation>
															<xs:documentation>Реквизиты письма</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:group ref="DocumentGroup"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EntitySpatial" type="Spa2:tEntitySpatialBordersLand">
					<xs:annotation>
						<xs:documentation>Графическое представление</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Area" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Площадь объекта</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="AreaMeter">
								<xs:annotation>
									<xs:documentation>Площадь в квадратных метрах</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Area" type="Simple2:p20">
											<xs:annotation>
												<xs:documentation>Значение площади</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Unit" fixed="055">
											<xs:annotation>
												<xs:documentation>Единица измерения</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="dUn1:dUnit"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Inaccuracy" type="Simple1:p10">
											<xs:annotation>
												<xs:documentation>Погрешность вычисления</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AreaHectare">
								<xs:annotation>
									<xs:documentation>Площадь в гектарах</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Area" type="Simple1:d10_2">
											<xs:annotation>
												<xs:documentation>Значение площади</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Unit" fixed="059">
											<xs:annotation>
												<xs:documentation>Единица измерения</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="dUn1:dUnit"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Inaccuracy" type="Simple1:d10_2">
											<xs:annotation>
												<xs:documentation>Погрешность вычисления</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="CoordSystems" type="Spa2:tCoordSystems">
					<xs:annotation>
						<xs:documentation>Системы координат</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Diagram">
					<xs:annotation>
						<xs:documentation>План границ объекта</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AppliedFile" type="DocI5:tAppliedFile" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Приложенные файлы с образами</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="Simple4:agNeTitle"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tAdditionalMap">
		<xs:annotation>
			<xs:documentation>Дополнительная информация к картографическому материалу</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Scale" type="Simple4:sNe255">
				<xs:annotation>
					<xs:documentation>Масштаб соответствующего картографического произведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateCreate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата создания картографического произведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateUpdate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата последнего обновления картографического произведения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tAgent">
		<xs:annotation>
			<xs:documentation>Представитель</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="tOfficialGroup"/>
			<xs:element name="AttorneyDocument" type="DocI5:tDocumentInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Доверенность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tEngineer">
		<xs:annotation>
			<xs:documentation>Кадастровый инженер как ИП и как работник организации</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CadEng4:tCadastralEngineer">
				<xs:sequence>
					<xs:element name="INN" type="tns:PhysicalPersonINNType">
						<xs:annotation>
							<xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Organization" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Юридическое лицо, если кадастровый инженер является работником юридического лица</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="CadEng4:tOrganization">
									<xs:sequence>
										<xs:element name="CodeOGRN" type="tns:OGRNCompanyType">
											<xs:annotation>
												<xs:documentation>Код ОГРН</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tOrganization">
		<xs:annotation>
			<xs:documentation>Юридическое лицо</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>Полное наименование</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Simple7:sNameNew">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Agent" type="tAgent">
				<xs:annotation>
					<xs:documentation>Представитель</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="DocumentGroup">
		<xs:annotation>
			<xs:documentation>Документ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodeDocument" type="dAl3:dAllDocuments">
				<xs:annotation>
					<xs:documentation>Код документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="Simple1:s500" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Series" type="Simple1:s45" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="Simple4:sNe45">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueOrgan" type="Simple4:sNe500">
				<xs:annotation>
					<xs:documentation>Организация, выдавшая документ. Автор документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="Simple1:s1000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Особые отметки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppliedFile" type="DocI5:tAppliedFile" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Приложенный файл</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="tOfficialGroup">
		<xs:annotation>
			<xs:documentation>Официальное лицо</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Appointment" type="Simple4:sNe255">
				<xs:annotation>
					<xs:documentation>Должность удостоверяющего</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="tns:PhysicalPersonQualifiedName-ModelGroup"/>
		</xs:sequence>
	</xs:group>
</xs:schema>
